html {
    background-image: url('images/wall.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
}

h1,
h2,
h3,
p,
a,
li {
    color: white;
    font-family: PixelFont;
    font-size: 22px;
}

h2,
h3
{
    font-size: 18px;
}

a,
li {
    font-size: 18px;
    line-height: 26px;
}

p {
    font-size: 14px;
    line-height: 18px;
}

code {
    color: white;
    font-family: PixelFont;
    font-size: 11px;
    border-width: 5px;
    border-color: #800080;
    padding: 5px;
    background-color: darkslategrey;
}

@font-face {
    font-family: 'PixelFont';
    src: url('PressStart2P-Regular.ttf');
}

.aligner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: #800080;
    background-color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    /*
    margin: auto;
    margin-top: 15px;
    min-width: 300px;
    max-width: 400px;
    padding: 15px;
    */

    margin: auto;
    margin-top: 15px;
    padding: 15px;
    min-width: 320px;
    overflow: auto;
    min-height: 300px;
    width: 29%;
}

.icon {
    width: 35px;
    height: 35px;
}

.icon-small {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.icon-aligner {
    display: flex;
    align-items: end;
}