html {
    background-image: url('images/wall.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-rendering: pixelated;
}

h1, h2, h3, p, a, li{
    color: white;
    font-family: PixelFont;
    font-size: 22px;
}

h2, h3 {
    font-size: 16px;
}

p {
    font-size: 11px;
}

@font-face {
    font-family: 'PixelFont';
    src: url('PressStart2P-Regular.ttf');
}

.aligner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    border-style: solid;
    border-width: 1px;
    border-color: #800080;
    background-color: black;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab {
    /*
    margin: auto;
    margin-top: 15px;
    min-width: 300px;
    max-width: 400px;
    padding: 15px;
    */

    margin: auto;
    margin-top: 15px;
    padding: 15px;
    width: 550px;
    overflow: auto;
    min-height: 300px;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-aligner { 
    display: flex;
    align-items: end;
}